{% extends "jukeBoxApp/base.html" %}
{% load static %}
{% load i18n %}

{% block breadcumb_title %}{% trans "Lista de Bandas" %}{% endblock %}
{% block breadcumb_subtitle %}{% trans "Explora las bandas" %}{% endblock %}
{% block breadcumb_style %}background-image: url({% static 'img/bg-img/breadcumb3.jpg' %});{% endblock %}

{% block content %}
<!-- ##### Album Catagory Area Start ##### -->
<section class="album-catagory section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="browse-by-catagories catagory-menu d-flex flex-wrap align-items-center mb-70">
                    <a href="#" data-filter="*">{% trans "Todas" %}</a>
                    <a href="#" data-filter=".a" class="active">A</a>
                    <a href="#" data-filter=".b">B</a>
                    <a href="#" data-filter=".c">C</a>
                    <a href="#" data-filter=".d">D</a>
                    <a href="#" data-filter=".e">E</a>
                    <a href="#" data-filter=".f">F</a>
                    <a href="#" data-filter=".g">G</a>
                    <a href="#" data-filter=".h">H</a>
                    <a href="#" data-filter=".i">I</a>
                    <a href="#" data-filter=".j">J</a>
                    <a href="#" data-filter=".k">K</a>
                    <a href="#" data-filter=".l">L</a>
                    <a href="#" data-filter=".m">M</a>
                    <a href="#" data-filter=".n">N</a>
                    <a href="#" data-filter=".ñ">Ñ</a>
                    <a href="#" data-filter=".o">O</a>
                    <a href="#" data-filter=".p">P</a>
                    <a href="#" data-filter=".q">Q</a>
                    <a href="#" data-filter=".r">R</a>
                    <a href="#" data-filter=".s">S</a>
                    <a href="#" data-filter=".t">T</a>
                    <a href="#" data-filter=".u">U</a>
                    <a href="#" data-filter=".v">V</a>
                    <a href="#" data-filter=".w">W</a>
                    <a href="#" data-filter=".x">X</a>
                    <a href="#" data-filter=".y">Y</a>
                    <a href="#" data-filter=".z">Z</a>
                    <a href="#" data-filter=".number">0-9</a>
                </div>
            </div>
        </div>

        <div class="row oneMusic-albums">
            {% for banda in bandas %}
            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item {{ banda.nombre.0|lower }}">
                <div class="single-album">
                    <div class="album-thumb-wrapper">
                        {% if banda.imagen %}
                            <img src="{{ banda.imagen.url }}" alt="{{ banda.nombre }}">
                        {% else %}
                            <img src="{% static 'img/bg-img/a1.jpg' %}" alt="{{ banda.nombre }}">
                        {% endif %}
                        <button class="btn-favorito btn-favorito-overlay" 
                                data-banda-id="{{ banda.id }}"
                                data-banda-nombre="{{ banda.nombre }}"
                                data-banda-pais="{{ banda.pais_origen.nombre }}"
                                data-banda-imagen="{% if banda.imagen %}{{ banda.imagen.url }}{% else %}{% static 'img/bg-img/a1.jpg' %}{% endif %}"
                                data-banda-url="{% url 'banda_detalle' banda.id %}"
                                title="{% trans "Agregar a favoritos" %}">
                            <i class="fa fa-heart-o"></i>
                        </button>
                    </div>
                    <div class="album-info">
                        <a href="{% url 'banda_detalle' banda.id %}">
                            <h5>{{ banda.nombre }}</h5>
                        </a>
                        <p>{{ banda.pais_origen.nombre }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
