{% extends "jukeBoxApp/base.html" %}
{% load static %}
{% load i18n %}

{% block breadcumb_title %}{% trans "Sugerir Canción" %}{% endblock %}
{% block breadcumb_subtitle %}{% trans "Propon una canción para el catálogo" %}{% endblock %}
{% block breadcumb_style %}background-image: url({% static 'img/bg-img/breadcumb3.jpg' %});{% endblock %}

{% block content %}
<div class="container section-padding-100">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "Sugerir Canción" %}</h4>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.titulo.label_tag }}
                            {{ form.titulo }}
                            {% for error in form.titulo.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.artista.label_tag }}
                            {{ form.artista }}
                        </div>
                        <div class="form-group">
                            {{ form.enlace.label_tag }}
                            {{ form.enlace }}
                        </div>
                        <div class="form-group">
                            {{ form.comentario.label_tag }}
                            {{ form.comentario }}
                        </div>
                        <button type="submit" class="btn btn-success">{% trans "Enviar sugerencia" %}</button>
                    </form>
                    <hr>
                    <p class="small text-muted mt-3">{% trans "Las sugerencias serán revisadas manualmente." %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
